/** background image file **/
$bg_file_width:   400px;
$bg_file_height:  400px;

/** benefits background image file **/
$benefit_bg_file_width:   400px;
$benefit_bg_file_height:  350px;

/** hyperlinks anchor **/
$anchor:          #0077b1;
$anchor_external: #be252c;
$anchor_important:#004988;

/** buttons red **/
$red:             #be252c;
$dark_red:        #9e1621;
$dim_red:         #7d0b14;
$light_red:       #ce343f;
$lighter_red:     #e8414d;
$pale_red:        #cc757f;
$light_pale_red:  #e5babf;
$theme_red:       #C9151E;

/** buttons red in header **/
$header_red:      #e8414d;
$dark_header_red: #8f0100;


/** buttons blue **/
$blue:            #1180c2;
$dark_blue:       #0066a0;
$dim_blue:        #004e7a;
$light_blue:      #2290c6;
$lighter_blue:    #33a6de;
$pale_blue:       #62a4c4;
$light_pale_blue: #b1d1e1;


/** green **/
$green: #B4D465;
$dark_green: #97B457;
$dim_green: #83a044;
$hover_green: #b0d062;
$lighter_green: #cae192;
$pale_green: #d9e6b8;
$light_pale_green: #dfe8ca;

/** other **/
$yellow:          #f0cb00;
$light_yellow:    #fffadc;
$green:           #88aa11;
$light_green:     #d7e3af;
$skyblue:         #dcebf0;

/**  header **/
$bg_gray:        #333333;
$font_gray:      #666666;
$dark_gray:      #999999;
$light_gray:     #CCCCCC;


$mred:        rgb( 190,  37,  44);
$myellow:     rgb( 240, 203,   0);
$mblue:       rgb(  17, 128, 194);

$dark:        rgb(  51,  51,  51);
$dred:        rgb( 158,  22,  33);
$dblue:       rgb(   0, 102, 159);

$lblue:       rgb( 220, 235, 240);
$lyellow:     rgb( 255, 250, 220);
$lred:        rgb( 250, 186, 191);

$hover-red:   rgb( 206,  52,  63);
$hover-blue:  rgb(  34, 144, 198);

$link:        rgb(   0, 119, 177);

$F4:          rgb( 244, 244, 244);
$EE:          rgb( 238, 238, 238);
$divid:       #d4d4d4;

$green-msg:   rgb( 229, 239, 199);
$red-msg:     rgb( 229, 186, 191);
$blue-msg:    rgb( 220, 235, 240);

/** 回饋標示 **/
$benefit: 	 #E74C3C;
$reputation: #9B59B6;
$discount:   #3498D8;
$stamp: 	 #2ECC71;
$icoupon:    #E67E22;

/**main nav**/
$pale_pink:          #FFD0C0;
$pale_pink_border:   #a83d3d;
$dark_pink_border:   #78252c;
$active_pink_bg:     #E6332C;
/*query nav*/
$query_border: #afafaf;

/*reputation*/
$gray_border: #CCC;
$orange:	  #FF5500;

/** touch **/
$dark_gray: #777777;
$gray: #cccccc;
$light_gray: #e7e7e7;
$border_on_white:#D5D5D5;
$border_on_gray:#B5B5B5;